//Menu, about och Profile
$PrimaryBackround: rgb(243, 228, 225);
//Nav & profile
$SecondaryBackround: rgb(47, 41, 38, 1);

$LandingBg: rgb(56, 132, 109);
$StatusBg: rgb(229, 103, 78);

$PrimaryBtn: rgb(47, 41, 38);
$primaryBtnText: rgb(255, 255, 255);

$secondaryBtn: rgb(255, 255, 255);
$secondaryBtnText: rgb(47, 41, 38);
